<h2><%= link_to @issue, issue_path(@issue) %></h2>



<%= form_tag(url_for(:controller => 'change_author', :action => 'edit', :id => @issue)) do %>
<fieldset>
  <legend><%= l('label_change_properties') %></legend>
  <table>
    <tr>
      <th><%= l('field_author') %>:</th>
      <td>
        <%= select_tag(:author_id,
          options_from_collection_for_select(@users, :id, :name, @issue["author_id"])
         ) %>
      </td>
    </tr>
    <tr>
      <td></td><td></td>
    </tr>
  </table>
</fieldset>
<%= submit_tag(l(:button_change_author)) %>
<% end %>
